*{
	margin:0;
	padding:0;
	font-family:Open Sans;
}
header{
	background-color:#3689ef;
	box-shadow: 1px 2px 3px 0px rgba(161, 161, 161, 0.22);
	width: 104vw;
	height: 6.5vw;
	color:white;
	font-size:1.8vw;
}

h2{
	font-weight: 100;
	padding: 20px;
}

body{
	background-color: #d2d8e0;
	position: absolute;
	height: 100%;
}
#logo, #headname{
	float: left;
}

#logo{
	margin-top: 1.6vw;
	margin-left: 5.1vw;
	width:4%;
	height:59%;
}

#logo img{
	width: 100%;
	height: 100%;
}

#headname{
	margin-top: 2.3vw;
	padding-left: 0.5vw;
}

.card{
	position: relative;
	right: 0px;
	display: block;
	align-content: space-between;
	box-shadow: 10px red;
	border-radius: 4px;
	z-index: 4;
	width: 30%;
	height: 60%;
	padding: 20px;
	background-color: #ffffff;
}

.inputs{
	align-self: center;
}

form > div{
	position: relative;
	padding: 20px;
}

form > div > label{
	position: absolute;
	left: 26px;
	top: 22px;
	font-size: 1.1vw;
	color: grey;
}

input{
	outline: none;
}

input:focus + label{
	position: absolute;
	top: 4px;
	left: 21px;
	font-size: 1vw;
	color: #3689ef;
	-webkit-transition: 0.4s;
	transition: 0.4s ease-out;
}

div > input:valid + label{
	position: absolute;
	top: 4px;
	left: 22px;
	font-size: 1vw;
	color: #3689ef;
}

form > a{
	font-size: 1.1vw;
	color: #3689ef;
	padding: 7%;

}

input, input:focus{
	border-width: 0 0 2px 0;
}

input:focus{
	border-bottom-color: #3689ef;
}

#submitBtn{
	float: right;
}
#submitBtn button{
	background-color: #3689ef;
	color: white;
	border-color: #3689ef;
	border-radius: 2px;
	width: 8vw;
	height: 3vw;
	position: absolute;
	bottom: 0px;
	right: 0px;
}


p{
    color:rgba(0, 0, 0, 0.568627);
	font-size: 14px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 17.42px;/* Approximation due to font substitution */
	padding: 0 20px 20px 20px;
}
